/* You can add global styles to this file, and also import other style files */
ul li{
    display: inline;
    list-style: none;
    color: #000;
    
}
ul{
    padding: 2em;
}
a{
    text-decoration: none;
    padding: 1em;
    color: #0aabce;
}
input{
    border: 0;
    border-radius: 0px;
    background: #e5e5e5;
    padding: .5em;
}
*{
    font-family: sans-serif; 
}