<div>
  <form [formGroup]='UserData' (ngSubmit)="formVals()" >
  <table>
    <tr><td>Name</td><td><input type="text" name="name" formControlName='name'></td></tr>
    <tr><td>E-Mail</td><td><input type="text" name="mail" formControlName='mail'></td></tr>
    <tr><td>Phone</td><td><input type="text" name="phone" formControlName='phone'></td></tr>
    <tr><td>Password</td><td><input type="password" name="password" formControlName='password'></td></tr>
    <tr><td><input type="submit"name="submit" value="submit"></td><td></td></tr>
</table>
</form>
</div>


<div *ngIf="!mailVal"><p>E-Mail is badly formatted</p></div>
<div *ngIf="!phoneVal"><p>Enter a Valid phone number</p></div>
<div *ngIf="!nameVal"><p>Enter a Valid Name</p></div>
<div *ngIf="!passwordVal"><p>Password Should Contain minimum of 8 characters, One Uppercase letter, one special character</p></div>

<div id="dispVal" *ngIf="UserData.value.name">
  <table>
    <tr><th>Element</th><th>Value</th></tr>
    <tr><td>Name</td><td>{{UserData.value.name}}</td></tr>
    <tr><td>Phone</td><td>{{UserData.value.phone}}</td></tr>
    <tr><td>E-Mail</td><td>{{UserData.value.mail}}</td></tr>
    <tr><td>Password</td><td>{{UserData.value.password}}</td></tr>
  </table>
</div>